/**
 * @name Absolute Black
 * @author Diramix
 * @website https://diram1x.ru/
 * @description Absolute Black theme for Discord
 * @invite ky6bcdy7KA
 * @authorId 710580442180485120
 * @source https://github.com/Diramix/Discord-Absolute-Black
*/

/*Black in variables*/
html * {
    --background-base-lower: #000 !important;
    --background-base-low: #000 !important;
    --custom-channel-members-bg: #000 !important;
    --chat-background-default: #090909 !important;
    --background-surface-high: #090909 !important;
}

/*Умный человек в очках скачать обои в высоком качестве без СМС и регистрации*/
[src*="/assets/d8680b1c1576ecc8.svg"] {
    content: url("https://i.redd.it/y824jq8jh8cf1.png");
    background-image: url("https://i.redd.it/y824jq8jh8cf1.png");
}