/**
 * @name Absolute Black v1.1.0
 * @author Diramix
 * @website https://diram1x.ru/
 * @description Absolute Black theme for Discord
 * @invite ky6bcdy7KA
 * @authorId 710580442180485120
 * @source https://github.com/Diramix/Discord-Absolute-Black
*/

/*Black in variables*/
html * {
    --background-base-lower: #000 !important;
    --background-base-low: #000 !important;
    --custom-channel-members-bg: #000 !important;
    --chat-background-default: #000 !important;
    --background-gradient-highest: #000 !important;
    --background-mod-muted: #000 !important;
    --background-surface-high: #000 !important;
    --app-frame-border: transparent !important;
    --border-subtle: transparent !important;
    --border-muted: transparent !important;
}

/*Animation in voice channel*/
[class^="callContainer"] * [class^="pulseGradient"] {
    display: none;
}

/*User profile sidebar in DM*/
.user-profile-sidebar {
    background-color: #000 !important;
}

.user-profile-sidebar * [class*="showMoreButton"] {
    background: none;
}

/*Dark profiles*/
.user-profile-sidebar,
.user-profile-sidebar * [class^="overlay"] {
    background: #000 !important;
}

/*Умный человек в очках скачать обои в высоком качестве без СМС и регистрации*/
[src*="/assets/d8680b1c1576ecc8.svg"] {
    content: url("https://i.redd.it/y824jq8jh8cf1.png");
    background-image: url("https://i.redd.it/y824jq8jh8cf1.png");
}